.topnav {
  background-color: aliceblue;
  /* overflow: hidden; */
  width: auto;
  height: 200px;
  padding: 2px;
  /* <img src="{{url_for('static', filename='Hermes.png')}}" align="middle" /> */
}
img {
  background-repeat: no-repeat;
  margin-left: 5px;
  float: left;
}
.p {
  padding: 0;
  margin: 2px 280px;
  padding: 5px;
  color: purple;
  font-size: 45px;
}
.side {
  float: right;
}
th,
td {
  margin-top: 5px;
}
a {
  color: cornflowerblue;
  padding: 5px;
  margin: 2px;
}

.left {
  word-spacing: 1px;
  padding: 15px;
  width: 650px;
  height: 500px;
  float: left;
  border: 5px;
}
.kk {
  height: 350px;
  width: 550px;
}

h1 {
  color: darkslategray;
  font-size: 15px;
}
p,
ol,
li {
  color: gray;
  font-size: 15px;
}
.right {
  padding-right: 100px;
  width: 700px;
  float: right;
}
